.grid{
    width: 420px;
    height: 600px;
    background-color:teal;
    background-image: url('clouds.jpg');
    position: relative;
    font-size: 100px;
    text-align: center;
}

.doodler{
    width: 90px;
    height: 85px;
    background-image: url('blackcat.png');
    position: absolute;
}
 
.platform{
    width: 85px;
    height: 15px;
    background-color: orchid;
    position: absolute;
}